html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  background-color: hsl(0, 0%, 100%);
}

.block {
  border-radius: 32px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  overflow: hidden;
}
@media (max-width: 609px) {
  .block {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-direction: column;
  }
}

.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.overview-block {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 32px;
  max-width: 368px;
  width: 100%;
  height: 503px;
}
@media (max-width: 609px) {
  .overview-block {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    order: 1;
    height: auto;
  }
}
.overview-block__text {
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
}
.overview-block__circle {
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 190px;
  height: 190px;
  margin-left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 609px) {
  .overview-block__circle {
    width: 150px;
    height: 150px;
    margin: 20px auto;
  }
}
.overview-block__circle-content {
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
}
.overview-block__text1 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  color: hsl(221, 100%, 96%);
  opacity: 0.8;
}
@media (max-width: 609px) {
  .overview-block__text1 {
    font-size: 20px;
    margin-top: 20px;
  }
}
.overview-block__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 60px;
  color: hsl(0, 0%, 100%);
  line-height: 1;
}
@media (max-width: 609px) {
  .overview-block__title {
    margin-top: 20px;
  }
}
.overview-block__text2 {
  margin: 0;
  font-size: 18px;
  color: hsl(221, 100%, 96%);
  opacity: 0.8;
}
@media (max-width: 609px) {
  .overview-block__text2 {
    font-size: 12px;
  }
}
.overview-block__title2 {
  margin: 0;
  font-size: 32px;
  margin-top: 25px;
  color: hsl(0, 0%, 100%);
  font-family: "Hanken Grotesk", sans-serif;
}
@media (max-width: 609px) {
  .overview-block__title2 {
    font-size: 28px;
    margin-top: 20px;
  }
}
.overview-block__text3 {
  font-size: 18px;
  margin: 0;
  padding: 30px;
  color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
  opacity: 0.5;
}
@media (max-width: 609px) {
  .overview-block__text3 {
    margin-bottom: 20px;
  }
}

.summary-block {
  max-width: 368px;
  width: 100%;
  height: 50%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media (max-width: 609px) {
  .summary-block {
    padding-top: 20px;
    order: 2;
  }
}
.summary-block__text {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Hanken Grotesk", sans-serif;
}
.summary-block__title {
  margin-top: 0px;
  color: hsl(224, 30%, 27%);
  font-size: 24px;
  font-weight: 700;
}
.summary-block__stats {
  margin-bottom: 40px;
}
.summary-block__stats-reaction {
  display: flex;
  flex-direction: row;
  background-color: #FFF6F6;
  border-radius: 12px;
  margin-bottom: 16px;
}
.summary-block__stats-reaction--icon {
  margin-left: 16px;
}
.summary-block__stats-reaction--text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 12px;
  color: hsl(0, 100%, 67%);
}
.summary-block__stats-reaction__score {
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}
.summary-block__stats-reaction__score--num {
  margin-right: 5px;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.summary-block__stats-reaction__score--hundred {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  opacity: 0.5;
}
.summary-block__stats-memory {
  display: flex;
  flex-direction: row;
  background-color: #FFFBF4;
  border-radius: 12px;
  margin-bottom: 16px;
}
.summary-block__stats-memory--icon {
  margin-left: 16px;
}
.summary-block__stats-memory--text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 12px;
  color: hsl(39, 100%, 56%);
}
.summary-block__stats-memory__score {
  margin-left: 92px;
  display: flex;
  flex-direction: row;
}
.summary-block__stats-memory__score--num {
  margin-right: 5px;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.summary-block__stats-memory__score--hundred {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  opacity: 0.5;
}
.summary-block__stats-verbal {
  display: flex;
  flex-direction: row;
  background-color: #F2FCF9;
  border-radius: 12px;
  margin-bottom: 16px;
}
.summary-block__stats-verbal--icon {
  margin-left: 16px;
}
.summary-block__stats-verbal--text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 12px;
  color: hsl(166, 100%, 37%);
}
.summary-block__stats-verbal__score {
  margin-left: 105px;
  display: flex;
  flex-direction: row;
}
.summary-block__stats-verbal__score--num {
  margin-right: 5px;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.summary-block__stats-verbal__score--hundred {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  opacity: 0.5;
}
.summary-block__stats-visual {
  display: flex;
  flex-direction: row;
  background-color: #F3F4FD;
  border-radius: 12px;
  margin-bottom: 16px;
}
.summary-block__stats-visual--icon {
  margin-left: 16px;
}
.summary-block__stats-visual--text {
  font-size: 18px;
  font-weight: 500;
  margin-left: 12px;
  color: hsl(234, 85%, 45%);
}
.summary-block__stats-visual__score {
  margin-left: 110px;
  display: flex;
  flex-direction: row;
}
.summary-block__stats-visual__score--num {
  margin-right: 5px;
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.summary-block__stats-visual__score--hundred {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  opacity: 0.5;
}
.summary-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 56px;
  color: hsl(0, 0%, 100%);
  border-radius: 128px;
  background-color: hsl(224, 30%, 27%);
}
.summary-block__button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */