$open-sans:'Open Sans', sans-serif;
$poppins:'Poppins', sans-serif;
$pink: hsl(322, 100%, 66%);
$dark-cyan:hsl(192, 100%, 9%);
$white:#FFF;
$grayish-blue:hsl(208, 11%, 55%);

html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    width: 100%;
    font-size: 18px;
}

.block{
    width: 100%;
}

$block1: ".block1";
#{$block1}{
    max-width: 100%;
    padding-bottom: 72px;
    background-color: #EDFBFF;
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    @media(max-width: 1040px){
        box-sizing: border-box;
        background-image: url(images/bg-hero-mobile.svg);
    }
    &__section-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        @media(max-width: 1040px){
            padding-top: 30px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    &__section-intro{
        display: flex;
        justify-content: space-between;
        @media(max-width: 1040px){
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
    &__Try-Button{
        padding-right: 80px;
        @media(max-width: 1040px){
            padding-right: 0;
        }
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
        &--Button{
            font-family: $open-sans;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 64.5px;
            border-radius: 24px;
            background: $white;
            box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.10);
            text-decoration: none;
            color: $dark-cyan;
            @media(max-width: 1040px){
                padding: 5px 25px;
                font-size: 10px;
            }
        }
    }
    &__logo1{
        margin-left: 88px;
        @media(max-width: 1040px){
            margin-left: 0;
            width: 104px;
            height: 16px;
        }
    }
    &__holder{
        margin-right: 50px;
        max-width: 100%;
        height: 550px;
        display: flex;
        margin-top: 30px;
        @media(max-width: 1040px){
            max-width: 100%;
            margin-right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 174.167px;
        }
        --icon{
            max-width: 100%;
            width: 100%;
            height: 100%;
            @media(max-width: 1040px){
                order: -1;
            }
        }
    }
    &__text{
        margin-left: 88px;
        padding-top: 100px;
        @media(max-width: 1040px){
            margin-left: 0; 
            padding-top: 80px;
            text-align: center; 
        }
    }
    &__title{
        max-width: 536px;
        color: $dark-cyan;
        font-family: $poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        @media(max-width: 1040px){
            max-width: 280px;
            line-height: 36px;
            font-size: 24px;
            margin: auto;
        }
    }
    &__text1{
        max-width: 520px;
        color: $dark-cyan;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        @media(max-width: 1040px){
            max-width: 420px;
            margin-left: 20px;
            margin-right: 20px;
            
        }
    }
    &__Started-Button{
        max-width: 280px;
        padding: 20px 0px;
        @media(max-width: 1040px){
            max-width: 240px;
            padding: 15px 0px;
            margin: auto;
        }
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
        &--Button{
            background-color: $pink;
            border-radius: 28px;
            box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: $open-sans;
            font-size: 14px;
            font-weight: 700;
        } 
    }
}

$block2: ".block2";
#{$block2}{
    max-width: 1232px;
    padding-bottom: 88px;
    border-radius: 16px;
    background: $white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 41px;
    @media(max-width: 1040px){
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 59px;
        padding-bottom: 20px;
    }  
    &__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 1040px){
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }  
    }
    &__text{
        padding-left: 120px;
        padding-top: 120px;
        @media(max-width: 1040px){
            padding-left: 0;
            padding-top: 60px
        }
    }
    &__title{
        color: $dark-cyan;
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        @media(max-width: 1040px){
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }
    &__text1{
        color: $grayish-blue;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        max-width: 488px;
        @media(max-width: 1040px){
            max-width: 256px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
    }
    &__icon-holder{
        max-width: 406.467px;
        height: 332.286px;
        padding-top: 20px;
        padding-right: 32px;
        @media(max-width: 1040px){
            max-width: 100%;
            height: 194px;
            padding-right: 0;
        }
    }
}

$block3: ".block3";
#{$block3}{
    max-width: 1232px;
    padding-bottom: 88px;
    border-radius: 16px;
    background: $white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
    @media(max-width: 1040px){
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 59px;
        padding-bottom: 20px;
    }
    &__section{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        @media(max-width: 1040px){
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        } 
    }
    &__text{
        padding-right: 29px;
        padding-top: 120px;
        @media(max-width: 1040px){
            padding-left: 0;
            padding-top: 60px
        }
    }
    &__title{
        color: $dark-cyan;
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        @media(max-width: 1040px){
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }
    &__text1{
        color: $grayish-blue;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        max-width: 488px;
        @media(max-width: 1040px){
            max-width: 256px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
    }
    &__icon-holder{
        max-width: 406.467px;
        height: 332.286px;
        padding-top: 25px;
        padding-left: 65px;
        @media(max-width: 1069px){
            padding-left: 5px;
        }
        @media(max-width: 1040px){
            max-width: 100%;
            height: 172.8px;
            padding-left: 0;
        }
    }
}

$block4: ".block4";
#{$block4}{
    max-width: 1232px;
    padding-bottom: 88px;
    border-radius: 16px;
    background: $white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    @media(max-width: 1040px){
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 59px;
        padding-bottom: 20px;
    }
    &__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 1040px){
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }  
    }
    &__text{
        padding-left: 120px;
        padding-top: 120px;
        @media(max-width: 1040px){
            padding-left: 0;
            padding-top: 60px
        }
    }
    &__title{
        color: $dark-cyan;
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        @media(max-width: 1040px){
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }
    &__text1{
        color: $grayish-blue;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        max-width: 488px;
        @media(max-width: 1040px){
            max-width: 248px;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
    }
    &__icon-holder{
        max-width: 406.467px;
        height: 332.286px;
        padding-top: 20px;
        padding-right: 26px;
        @media(max-width: 1040px){
            max-width: 100%;
            height: 184.686px;
            padding-right: 0;
        }
    }
}

$block5: ".block5";
#{$block5}{
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(35%);
    &__holder{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        border-radius: 15px;
        background: $white;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
        padding: 30px 50px;
        box-sizing: border-box;
        text-align: center;
        @media(max-width: 1040px){
            padding: 30px 25px;
            max-width: 100%;
            margin-left: 12px;
            margin-right: 12px;
        }
    }
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__title{
        color: $dark-cyan;
        font-family: $poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 60px;
        @media(max-width: 1040px){
            font-size: 18px;
            line-height: 30px;
        }
    }
    &__Started-Button{
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
        &--Button{
            background-color: $pink;
            border-radius: 100px;
            max-width: 400px;
            padding: 25px 80px;
            box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            font-family: $open-sans;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            @media(max-width: 1040px){
                padding: 12.5px 50px;
                font-size: 10px;
                line-height: 15px;
            }
        } 
    }
}

$block6: ".block6";
#{$block6}{
    background-color: #00252E;
    max-width: 100%;
    padding-bottom: 120px;
    padding-top: 80px;
    box-sizing: border-box;
    @media(max-width: 1040px){
        padding-bottom: 0;
    }
    &__holder{
        display: flex;
        justify-content: center;
        padding: 0px 10px 0px 10px;
        @media(max-width: 1040px){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 16px;
        }
    }
    &__text{
        padding-top: 68px;
        color: $white;
        font-family: $open-sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__text2-3{
        display: flex;
        padding-top: 115px;
        padding-left: 140px;
        @media(max-width: 1040px){
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            padding-left: 0px;
            gap: 16px;
        }
    }
    &__text2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-decoration: none;
        color: $white;
        font-family: $open-sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        @media(max-width: 1040px){
            margin-bottom: 0;
            gap: 16px;
        }
        &--aboutus:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        &--whatwedo:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        &--faq:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__text3{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-decoration: none;
        color: $white;
        font-family: $open-sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        margin-left: 80px;
        @media(max-width: 1040px){
            margin-left: 0;
            gap: 16px;
        }
        &--career:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        &--blog:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        &--contactus:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__logo{
        margin-bottom: 32px;
        color: $white;
        @media(max-width: 1040px){
            margin-bottom: 16px;
            max-width: 190px;
        }
    }
    &__location {
        display: flex;
        align-items: flex-start;
        &--icon {
            margin-right: 16px;
            margin-top: 5px;
        }
        &--text {
            max-width: 339px;
            margin: 0;
        }
    }
    &__phonenumber{
        display: flex;
        align-items: center;
        &--icon{
            margin-right: 16px;
        }
        &--text{
            width: 100%;
        }
    }
    &__email{
        display: flex;
        align-items: center;
        &--icon{
            margin-right: 16px;
        }
        &--text{
            width: 100%;
        }
    }
    &__socials{
        display: flex;
        align-items: flex-start;
        justify-content: center; 
        flex-direction: column;
        padding-top: 140px;
        margin-left: 200px;
        gap: 107px;
        @media(max-width: 1040px){
            display: flex;
            align-items: center;
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
            gap: 24px;
        }
        
    }
    #{$block6}__socials-holder{
        display: flex;
        gap: 30px;
        &--facebook{
            width: 31px;
            height: 31px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $white;
            &:hover{
                cursor: pointer;
                border-color: $pink;
                #{$block6}__socials-holder--facebook-icon {
                    fill: $pink;
                }
            }
        }
        &--twitter{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $white;
            &:hover{
                cursor: pointer;
                border-color: $pink;
                #{$block6}__socials-holder--twitter-icon {
                    fill: $pink;
                }
            }
        }
        &--instagram{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $white;
            &:hover{
                cursor: pointer;
                border-color: $pink;
                #{$block6}__socials-holder--instagram-icon {
                    fill: $pink;
                }
            }
        }
    }
    &__copyright{
        color: $white;
        font-family: $poppins;
        font-size: 12px;
        font-weight: 400;
    }
    
}