body{
    background-color: lightgrey;
    font-size: 15px;   
}

.QRcode{
    max-width: 15%; 
    margin: 0 auto; 
    padding: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight:400, 700;
    background-color: #f0f0f0;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.QRcode img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

h2{
    font-size: 20px;
    text-align: center;
    letter-spacing: 0px;
}

p{
    opacity: 0.5;
}