body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

.parfume{
    flex-direction: row;
    display: flex;
    background-color: #f0f0f0;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.parfume .parfume__image{
    display: flex;
    width: 50%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.parfume .parfume__cart{
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: 1px hsl(158, 36%, 37%);
    border-radius: 10px;
    width: 30%;
    height: 45px;
    cursor: pointer;

}
